/* lightbox.css */

body.lb-disable-scrolling {
    overflow: hidden;
}

.lb-overlay {
    position: fixed; // absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: green;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;  // gets changed by JS
}

.lightbox { // not used
    position: fixed;
    background: blue;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
    outline: none;
}

.lb-image {
    display: inline-block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    img {
        border: 4px solid white;
        width: 100%
    }
}

.lightbox a img {
    border: none;
}

.lb-outerContainer {
    position: relative;
    z-index: 10000;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;

    /* Background color behind image.
    This is visible during transitions. */
    background-color: white;
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-container {
    width: 100%;
    height: 100%;
}

.lb-loader {
    position: fixed;
    top: 0;
    left: 0;
    display: none;  // later gets set to flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.lb-cancel {
    width: 32px;
    height: 32px;
    background: url(../images/loading.gif) no-repeat;   // spinner
}

.lb-nav {
    //position: fixed;
    background: cyan;
    //top: 0;
    //left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

//.lb-container > .nav {
//    left: 0;
//}

.lb-nav a {
    outline: none;
 /*   background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=='); FIXME what's this? */
}

.lb-prev, .lb-next {
    height: 100%;
    cursor: pointer;
    display: inline-block;
}

// TODO lb-prev and lb-next should be span, not a?
.lb-prev {
    //border: 1px solid red;
    background: orange; // TEMP out url(../images/prev.png) left 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    // TEMP should be 0 opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-next {
    //border: 1px solid green;
    background: yellow; // TEMP out url(../images/next.png) right 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    // TEMP out  opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-dataContainer {
    display: none; // later
    margin: 0 auto;
    padding-top: 5px;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-data {
    padding: 0 4px;
    color: #ccc;
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}

.lb-data .lb-caption a {
    color: #4ae;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../images/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
