/* lightboxSSA.css */

// TODO
// -- see https://freebiesupply.com/blog/css-arrows/ for fancy responsive < > arrows

body.lb-disable-scrolling {
    overflow: hidden;
}

[data-lightbox] {
    cursor: pointer;
}

#lb-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: gray;
    opacity: 1;
    // Could use transitions, but harder to control from JS
    //transition: opacity 1s ease-in-out;
    cursor: url(../images/close.png) 13 14, pointer;
}
#lb-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 1;
}
#lb-prev {
    opacity: 1;
    height: 50%;
    width: 50%;
    pointer-events: auto;
    background: url(../images/prev.png) left 48% no-repeat;
    cursor: url(../images/prev-cursor.png) 2 17, pointer;
}
#lb-next {
    opacity: 1;
    height: 50%;
    width: 50%;
    pointer-events: auto;
    background: url(../images/next.png) right 48% no-repeat;
    cursor: url(../images/next-cursor.png) 18 17, pointer;
}
#lb-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 12;
    opacity: 1; // has to be 1 because its children can't be less transparent.   could use rgba.  see https://css-tricks.com/non-transparent-elements-inside-transparent-elements/   S0.2;  // 0
    pointer-events: none;
}

#lb-image1, #lb-image2 {
    border: white 8px solid;
    border-radius: 4px;
}
#lb-image1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
    //height: 90vw;   // TODO 70%;
    pointer-events: auto;
}
#lb-image2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 14;
    //height: calc(100% - 10vw); /* 60%; */   // FIXME in JS -- make max size -- possibly already done
    pointer-events: none; /* initially */
}
