/* lightboxSSA.scss */

// TODO
// -- see https://freebiesupply.com/blog/css-arrows/ for fancy responsive < > arrows

body.lb-disable-scrolling {
    overflow: hidden;
}

[data-lightbox] {
    cursor: pointer;
}

#lb-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: gray;
    opacity: 0; // initially
    cursor: url(../images/close.png) 13 14, pointer;
}
#lb-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    //touch-action: none;
    opacity: 1;
}
#lb-prev {
    opacity: 1;
    height: 50%;
    width: 50%;
    //z-index: 12;
    pointer-events: auto;
    //touch-action: auto;
    background: url(../images/prev.png) left 20px center no-repeat;
    cursor: url(../images/prev-cursor.png) 2 17, pointer;
}
#lb-next {
	/* This should be there */
    opacity: 1;
    height: 50%;
    width: 50%;
    //z-index: 12;
    pointer-events: auto;
    //touch-action: auto;
    background: url(../images/next.png) right 20px center no-repeat;
    cursor: url(../images/next-cursor.png) 18 17, pointer;
}

.lb-flex {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;  // FIXME 100vw doesn't adjust for the scroll bar -- try to remove the scroll bar
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    //touch-action: none;
}
#lb-flex1 {
    z-index: 13;
}
#lb-flex2 {
    z-index: 14;
}

#lb-image1, #lb-image2 {
    border: white 8px solid;
    border-radius: 4px;
    max-width: 90%;     // These may get adjusted by JS
    max-height: 90%;
}
#lb-image1 {
    //z-index: 15;
    pointer-events: none;
    //touch-action: auto;
}
#lb-image2 {
    //z-index: 16;
    pointer-events: auto; /* initially */ // FIXME check which is used first -- is this needed?
    //touch-action: none;
}
