/* lightboxSSA.scss */

// LightboxSSA v2.50
// Copyright 2020 Chris Dennis

//    This file is part of LightboxSSA.
//
//    LightboxSSA is free software: you can redistribute it and/or modify
//    it under the terms of the GNU General Public License as published by
//    the Free Software Foundation, either version 3 of the License, or
//    (at your option) any later version.
//
//    LightboxSSA is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//    GNU General Public License for more details.
//
//    You should have received a copy of the GNU General Public License
//    along with Foobar.  If not, see <https://www.gnu.org/licenses/>.

// TODO
// -- see https://freebiesupply.com/blog/css-arrows/ for fancy responsive < > arrows

// ?? Use will-change: transform, opacity;  to make sure fadeTo works???

// Variables
$imageBorder: 28px;
$imageRadius: ($imageBorder / 2);

body.lb-disable-scrolling {
    overflow: hidden;
}

[data-lightbox] {
    cursor: pointer;
}

#lb-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: gray;
    opacity: 0; // initially
    cursor: url(../images/closeCursorSSA.png) 13 14, pointer;
}
#lb-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    //touch-action: none;
    opacity: 1;
}
#lb-prev, #lb-image1-prev, #lb-image2-prev {
    opacity: 1;
    height: 50%;
    width: 50%;
    //z-index: 12;
    pointer-events: auto;
    //touch-action: auto;
    //background: url(../images/prev.png) left 20px center no-repeat;
    cursor: url(../images/prevCursorSSA.png) 2 17, pointer;
}
#lb-next, #lb-image1-next, #lb-image2-next {
    opacity: 1;
    height: 50%;
    width: 50%;
    //z-index: 12;
    pointer-events: auto;
    //touch-action: auto;
    //background: url(../images/next.png) right 20px center no-repeat;
    cursor: url(../images/nextCursorSSA.png) 18 17, pointer;
}

.lb-flex {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    //touch-action: none;
}
#lb-flex1 {
    z-index: 13;
}
#lb-flex2 {
    z-index: 14;
}

/*
#lb-wrapper1, #lb-wrapper2 {
    position: relative; // to allow positioning of lb-image1prev etc.
    pointer-events: none;
    //max-width: 90vw;     // These may get adjusted by JS
    //max-height: 90vh;
    //border: 1px green solid;
}
*/

#lb-figure1, #lb-figure2 {
    /*
    max-width: 90vw;     // These may get adjusted by JS
    max-height: 90vh;
    */
}

#lb-image1, #lb-image2 {
    border: white $imageBorder solid;
    border-radius: $imageRadius;
    // no position: absolute;
    max-width: 90vw;     // These may get adjusted by JS
    max-height: 90vh;
}
#lb-image1 {
    //z-index: 15;
    pointer-events: none;
    //touch-action: auto;
}
#lb-image2 {
    //z-index: 16;
    pointer-events: auto; /* initially */ // FIXME check which is used first -- is this needed?
    //touch-action: none;
}

#lb-image1-prev, #lb-image2-prev {
  position: absolute;
  //border: 1px blue solid;
  width: 20%;
  height: 30%;
  left: 0;
  top: 35%;     // = (100% - height%) / 2
  cursor: url(../images/prevCursorSSA.png) 2 17, pointer;
  z-index: 17;
}

#lb-image1-next, #lb-image2-next {
  position: absolute;
  //border: 1px red solid;
  width: 20%;
  height: 30%;
  right: 0;
  top: 35%;     // = (100% - height%) / 2
  cursor: url(../images/nextCursorSSA.png) 18 17, pointer;
  z-index: 17;
}

figure.lb-figure {
  display: block;
  position: relative;
  margin: 0;
  //img { display: table-cell; }
  figcaption {
    //display: table-caption; 
    //caption-side: bottom;
    position: absolute;
    left: $imageBorder;
    bottom: $imageBorder;  // allow for image border
    background-color: rgba(255, 255, 255, 0.6);
    //height: 1.2em;
    width: calc(100% - #{2 * $imageBorder});
    //margin-top: -2.4em;
    //float: right;
    text-align: center;
    //color: white;
    // z-index: 1;
    //font-family: 'Open Sans', sans;
  }
}
